/********* Global Styling ***********/
body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  /* background: #111;
  color: whitesmoke; */
}

.row{
  display: flex;
  align-items: center;
  padding: 10px;
}


/********* Grid Styling ***********/

.answers {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: auto;
}

@media screen and (min-width: 1000px){
  .answers{
    grid-template-columns: auto auto;
  }
}

/********* Header & Footer Styling ***********/

.header-row, .footer {
  justify-content: space-between;
  height: 10vh;
}


/********* Main Styling ***********/
.container {
  height: 70vh;
}

.container, footer, .header-row {
  width: 90vw;
  margin: 0 auto;
}
.main-content{
  width: 100%;
  height: 100%;
  justify-content: center;
}

.start, .answer-button{
  text-align: center;
}

fieldset {
  border: 0;
}
